@import url(./__title/kaufman__title.css);
@import url(./__subtitle/kaufman__subtitle.css);
@import url(./__table/kaufman__table.css);
@import url(./__cell/kaufman__cell.css);
@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}
